@model IEnumerable<Domain.Entities.Mural>

@{
    ViewBag.Title = "LastViewed";
}

<h2>Index</h2>

@if (Model.Any() != true)
{
    <p> Er zijn geen muren bekeken door gebruikers. Dit scherm houdt niet bij wat een admin bekijkt op dit moment</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MuralName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MuralDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MuralLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistID)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MuralName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuralDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuralLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistID)
            </td>
        </tr>
}

    </table>
}

